#first,
#second,
#third {
    text-align: center;
    width: 60vw;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.billImg {
    width: 45vw;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.toNav a {
  text-decoration: none;
  color: rgb(0, 255, 0);
  border-radius: 4px;
  padding: 4px 0 4px;
  display: block;
  font-size: 1.8vw;
  padding: 1vw;
  animation: navButton 2s infinite ease-in-out;
}
.toNav a:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(0, 255, 0);
    animation: none;
}
.spaceNav {
    border-left: solid 0.1vh rgb(0, 255, 0);
    height: 100%;
}
.regulNav {
    margin-right: 4vw;
}

@keyframes navButton {
    0%,
    100% {
        margin-bottom: 0;
        color: rgb(0, 255, 0);
    }
    25% {
        color: rgb(167, 255, 167);
    }
    50% {
        margin-bottom: 2vh;
        color: rgb(0, 255, 0);
    }
    75% {
        color: rgb(167, 255, 167);
    }
}