@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  transition: all 600ms;
}
*::selection {
  background-color: rgb(0, 255, 0);
  color: black;
}
body {
  margin: 0.2% 0.75%;
  color: rgb(0, 255, 0);
  background-color: rgb(20, 20, 20);
  font-family: "Ubuntu";
}
p {
  letter-spacing: 0.075em;
}
.ft_logo {
  font-size: 1vw;
}
.by {
  text-align: right;
  margin: 1%;
  font-size: 100%;
}
.header {
  display: flex;
  border-bottom: solid 3px rgb(0, 255, 0);
  background-color: rgb(20, 20, 20);
  padding: 0 0 0 1.5%;
  position: fixed;
  width: 100vw;
  top: 0;
}
.main {
  margin: 13% 0 0 2%;
}
.footer {
  border-top: solid 3px rgb(0, 255, 0);
}
.outputText {
  display: flex;
  align-items: center;
}
.textSpawn {
  word-break: break-all;
  padding-right: 0.2%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cursorer {
  border-left: solid 5px rgb(0, 255, 0);
  animation: cursor 1s infinite linear;
}

@keyframes cursor {
  0%,
  100% {
    border-left: none;
  }
  50% {
    border-left: solid 5px rgb(0, 255, 0);
  }
}