/*min resolution 344x600*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  transition: all 600ms;
  word-break: auto;
}
*::selection {
  background-color: rgb(0, 255, 0);
  color: black;
}
body {
  margin: 0.2% 0.75%;
  color: rgb(0, 255, 0);
  background-color: rgb(20, 20, 20);
  font-family: "Ubuntu";
}

.ft_logo {
  font-size: 1vw;
  animation: shine 1s infinite ease;
}
.by {
  text-align: right;
  margin: 1%;
  font-size: 100%;
}
.header {
  display: flex;
  border-bottom: solid 0.25vh rgb(0, 255, 0);
  background-color: rgb(20, 20, 20);
  padding: 0 0 0 1.5%;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.main {
  margin: 13% 0 0 2%;
}
.footer {
  border-top: solid 0.25vh rgb(0, 255, 0);
  height: 20vh;
}
.outputText {
  display: flex;
  align-items: center;
  font-size: 1.7vw;
}

@keyframes shine {
  0%,
  100% {
    color: rgb(0, 255, 0);
  }
  50% {
    color: rgb(167, 255, 167);
  }
}
