a {
  text-decoration: none;
  color: rgb(0, 255, 0);
}
p {
  letter-spacing: 0.075em;
}
.main {
  height: 25vw;
}
.linkCV {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
  height: 100%;
}
.tabulLogin {
  user-select: none;
}
.elonLogo,
.billLogo {
  scale: 1;
  transition-duration: 600ms;
}
.elonLogo:hover,
.billLogo:hover {
  scale: 1.05;
}
.textSpawn {
  padding-right: 0.2%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cursorer {
  border-left: solid 5px rgb(0, 255, 0);
  animation: cursor 1s infinite linear;
}

@keyframes cursor {
  0%,
  100% {
    border-left: none;
  }
  50% {
    border-left: solid 5px rgb(0, 255, 0);
  }
}
